.DS_Store
bin/*
include/.DS_Store
src/.DS_Store
src/*.o
Source/*.o
build/**
ArsenicX.xcodeproj/*.pbxuser
ArsenicX.xcodeproj/*.mode1v3
ArsenicX.xcodeproj/xcworkspace
ArsenicX.xcodeproj/xcshareddata        
ArsenicX.xcodeproj/xcuserdata
ArsenicX.xcodeproj/project.xcworkspace
