.deps/
.dirstamp
*.lo
*.o
*.la
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.h
/config.h.in
/config.log
/config.status
/config.status.lineno
/configure
/configure.lineno
/depcomp
/hello
/install-sh
/missing
/stamp-h?
.DS_Store
/config.guess
/config.h.in~
/config.sub
/libtool
/ltmain.sh
/.libs

