depcomp
install-sh
stamp-h1
.DS_Store
configure
autom4te.cache
autoscan.log
config.h
config.h.in~
config.h.in
aclocal.m4
config.status
config.log
missing
Makefile
Makefile.in
bin/*
src/.DS_Store
src/*.o
src/Makefile
src/.deps
src/arsenic
src/Makefile.in
