<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<string>0.0.1-pre</string>
	<key>UpdateURL</key>
	<string>http://www.nspwn.com/sdjlkioyANjksdbanksdbasd/?ud=arsenic</string>
	<key>Exploits</key>
	<dict>
		<key>limera1n</key>
		<dict>
			<key>Module</key>
			<string>exploits/limera1n.so</string>
			<key>Supported</key>
			<array>
				<string>iPhone3,1</string>
				<string>AppleTV2,1</string>
				<string>iPod4,1</string>
				<string>iPhone2,1</string>
				<string>iPad1,1</string>
				<string>iPod3,1</string>
			</array>
		</dict>
		<key>24kpwn</key>
		<dict>
			<key>Module</key>
			<string>exploits/24kpwn.so</string>
			<key>Supported</key>
			<array>
				<string>iPod2,1</string>
				<string>iPhone3,1</string>
			</array>
		</dict>
		<key>steaks4uce</key>
		<dict>
			<key>Module</key>
			<string>exploits/steaks4uce.so</string>
			<key>Supported</key>
			<dict>
				<key>iPod2,1</key>
			</dict>
		</dict>
	</dict>
</dict>
</plist>